.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.buttonOne:hover {
  background-color: green;
}

.buttonTwo:hover {
  background-color: gray;
}

.buttonThree:hover {
  background-color: red;
}
